<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%date{ISO8601}] [%logger:%L]: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.pipalo" level="INFO">
        <appender-ref ref="stdout"/>
    </logger>

</configuration>
